<a href="https://colab.research.google.com/github/KATIPALLIYAHOSHUVA/Python-Notes-Basic-to-Advance-/blob/main/part2%263_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Collections

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi']
print(l1)
print(type(l1))
print(len(l1))
a = "hello ,world"
print(len(a))

['Apple', 'Bananas', 'cherries', 'kiwi']
<class 'list'>
4
12

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi','cherries','cherries','cherries']
print(l1)
print(l1[0])
print(l1[-2])

['Apple', 'Bananas', 'cherries', 'kiwi', 'cherries', 'cherries', 'cherries']
Apple
cherries

In [ ]:
print(l1)
print(l1[1:4])
print(l1[-4:-1])
print(l1[::-1])

['Apple', 'Bananas', 'cherries', 'kiwi', 'cherries', 'cherries', 'cherries']
['Bananas', 'cherries', 'kiwi']
['kiwi', 'cherries', 'cherries']
['cherries', 'cherries', 'cherries', 'kiwi', 'cherries', 'Bananas', 'Apple']

In [ ]:
l1 = ['apple','banana','cherries','kiwi']
v = ' '
for x in l1:
  v = v +' '+ x
  v = v + x
print(v)
print(type(v))

  appleapple bananabanana cherriescherries kiwikiwi
<class 'str'>

In [ ]:
l1 = ['apple','banana','cherries','kiwi']
print(*l1)

apple banana cherries kiwi

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi']
for x in l1:
  print(x, end=' ')
print(x)
print(type(x))

Apple Bananas cherries kiwi kiwi
<class 'str'>

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi']
print(l1[2])
l1[2] = 'mango'
print(l1)

cherries
['Apple', 'Bananas', 'mango', 'kiwi']

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi']
print(l1[1:3])
l1[1:3] = ['papaya','orange']
print(l1)

['Bananas', 'cherries']
['Apple', 'papaya', 'orange', 'kiwi']

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi']
print(l1[1:3])
l1[1:3] = ['papaya','Stare berry','Orange']
print(l1)

['Bananas', 'cherries']
['Apple', 'papaya', 'Stare berry', 'Orange', 'kiwi']

In [ ]:
l1 = ['Apple','Bananas','cherries','kiwi']
l1.append('orange')
print(l1)
l1 = ['Apple','Bananas','cherries','kiwi']
l1.insert(2,'mango')
print(l1)

['Apple', 'Bananas', 'cherries', 'kiwi', 'orange']
['Apple', 'Bananas', 'mango', 'cherries', 'kiwi']

In [ ]:
l2 = (10,20,30)
l1.extend(l2)
print(l1)
l2 = (10,20,30)
l1.extend(l2)
print(l1)
l1.insert(1,12)
print(l1)

['Apple', 12, 'Bananas', 12, 'mango', 'cherries', 'kiwi', 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
['Apple', 12, 'Bananas', 12, 'mango', 'cherries', 'kiwi', 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
['Apple', 12, 12, 'Bananas', 12, 'mango', 'cherries', 'kiwi', 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
l3 = ['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20, 30]
l3.remove('Mango')
print(l3)
l3 = ['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20, 30]
l3.pop(2)
print(l3)
l3 = ['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20, 30]
l3.pop()
print(l3)
l3 = ['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20, 30]
l3.pop()
print(l3)
l4 = ['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20, 30]
del l4[1:4]
print(l4)
l4.clear()
print(l4)

['Apple', 'Bananas', 'cherries', 'kiwi', 10, 20, 30]
['Apple', 'Bananas', 'cherries', 'kiwi', 10, 20, 30]
['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20]
['Apple', 'Bananas', 'Mango', 'cherries', 'kiwi', 10, 20]
['Apple', 'kiwi', 10, 20, 30]
[]

In [ ]:
l5 = ['Apple', 'Bananas', 'Mango', 'kiwi','Mango','Mango','Mango','Mango']
print(l5)
while 'Mango' in l5:
  l5.remove('Mango')
print(l5)

['Apple', 'Bananas', 'Mango', 'kiwi', 'Mango', 'Mango', 'Mango', 'Mango']
['Apple', 'Bananas', 'kiwi']

In [ ]:
l5 = ['Apple', 'Bananas', 'Mango', 'kiwi','Mango','Mango','Mango','Mango']
print(l5)
while 'Mango' in  l5:
  l5.remove('Mango')
print(l5)

['Apple', 'Bananas', 'Mango', 'kiwi', 'Mango', 'Mango', 'Mango', 'Mango']
['Apple', 'Bananas', 'kiwi']

In [ ]:
l6 = ['Apple', 'Bananas', 'Mango', 'kiwi','Mango','Mango','Mango','Mango']
print(l6[::-1])
l6 = ['Apple', 'Bananas', 'Mango', 'kiwi','Mango','Mango','Mango','Mango']
print(l6[::-6])
l6 = ['Apple', 'Bananas', 'Mango', 'kiwi','Mango','Mango','Mango','Mango']
print(l6)

['Mango', 'Mango', 'Mango', 'Mango', 'kiwi', 'Mango', 'Bananas', 'Apple']
['Mango', 'Bananas']
['Apple', 'Bananas', 'Mango', 'kiwi', 'Mango', 'Mango', 'Mango', 'Mango']

In [ ]:
t1 = ('Pine apple', 'Mango', 'Kiwi', 'Bananas', 'Apple')
print(type(t1))
print(len(t1))

<class 'tuple'>
5

In [ ]:
t1=('Pine apple', 'Mango', 'Kiwi', 'Bananas', 'Apple')
print(type(t1))
print(len(t1))
print(t1)

<class 'tuple'>
5
('Pine apple', 'Mango', 'Kiwi', 'Bananas', 'Apple')

In [ ]:
print(t1)
print(t1[1])
print(t1[1:5])
print(t1[::-1])

('Pine apple', 'Mango', 'Kiwi', 'Bananas', 'Apple')
Mango
('Mango', 'Kiwi', 'Bananas', 'Apple')
('Apple', 'Bananas', 'Kiwi', 'Mango', 'Pine apple')

In [ ]:
s1 = {'Apple', 'Bananas', 'Kiwi', 'Mango', 'Pine apple'}
print(s1)
s2 = {'Apple', 'Bananas', 'Kiwi', 'Mango', 'Pine apple'}
print(s2)
print(type(s2))

{'Bananas', 'Apple', 'Mango', 'Pine apple', 'Kiwi'}
{'Bananas', 'Apple', 'Mango', 'Pine apple', 'Kiwi'}
<class 'set'>

In [ ]:
#set = {}=unordered, unchangable, mot allowduplicate
s1 = {'Apple', 'Bananas', 'Kiwi', 'Mango', 'Pine apple','Apple'}
print(s1)
# s2 = {'Apple', 'Bananas', 'Kiwi', 'Mango', 'Pine apple'}
# print(s2)
# print(type(s2))

{'Mango', 'Pine apple', 'Kiwi', 'Apple', 'Bananas'}

In [ ]:
s2 = {'Mango', 'Pine apple', 'Kiwi', 'Apple', 'Bananas'}

#unchangable --->we can add and we can remove

s2.add('orange')

s3 = [10,20,30]

s2.update(s3)

# print(s2[1])

print(s2)

{'Mango', 'Kiwi', 10, 'orange', 20, 30, 'Apple', 'Pine apple', 'Bananas'}

In [ ]:
#q) what is the default index position in a set when you add an item?
#A)their is no index position because it is unorderded

In [ ]:
s1 = {'a','b','c','d'}
s2 = {'d','e','f','g'}
s3 = s1.union(s2)
print(s3)

{'c', 'd', 'b', 'g', 'a', 'e', 'f'}

In [ ]:
#task do intersection

#Dectionaries

In [ ]:
#dectionaries={}=ordered, changable, donot allow duplicates
#interpreter languagae-->run code line by line
d1 = {"Name": "Python",
      "Last Name":'Programming',
      "Age" : "26",
      "Module":True,
      "Age": 41,
      "Name": "Python"}

print(d1)

{'Name': 'Python', 'Last Name': 'Programming', 'Age': 41, 'Module': True}

In [ ]:
#we can access it through by key name
d2 = {"Name": "Python",
      "Last Name":'Programming',
      "Age" : "26",
      "Module":True,
      "Age": 41,
      "Name": "Python"}
print(d2["Name"])

Python

In [ ]:
print(len(d2))

4

In [ ]:
#how to access item in a dectt?
x = d2['Module']
print(x)

#another way of accessing
x2 = d2.get('Last Name')
print(x2)

True
Programming

In [ ]:
#How can you change the values?
d2['Last Name'] = 'Language'
print(d2)

{'Name': 'Python', 'Last Name': 'Language', 'Age': 41, 'Module': True}

In [ ]:
#How can we add the values and keys?
#
d2['IDE'] = 'COLAB NOTEBOOK'
print(d2)
#2Update

d2.update({'Age': 26})
print(d2)

{'Name': 'Python', 'Last Name': 'Programming', 'Age': 41, 'Module': True, 'IDE': 'COLAB NOTEBOOK'}
{'Name': 'Python', 'Last Name': 'Programming', 'Age': 26, 'Module': True, 'IDE': 'COLAB NOTEBOOK'}

In [ ]:
d5 = {"Name": ["python","java"],
      "Last Name":'Programming',
      "Age" : "26",
      "Module":True,
      "Age": 41,
      "Name": "Python"
      }

#Q access 1st value in dict having list of name replace the name?

d5['Name'][0]   = 'c++'
print(d5)

TypeError: ignored

In [ ]:
a = ["python","java", "c++"]
print(a[1])

java

In [ ]:
d2 = {"Name": ["python","java"],
      "Last Name":'Programming',
      "Age" : "26",
      "Module":True,
      "Age": 41}
#if their is a list of values in dictionary choose this method
d2['Name'][1]   = 'c++'


d2.update({'Age':54})
print(d2)

{'Name': ['python', 'c++'], 'Last Name': 'Programming', 'Age': 54, 'Module': True}

In [ ]:
#Add new item to the list in dictionaries
d2['Name'].append('R language')

#Note:- if the keys are present in dictionary the value get updated if the keys are not present in the dictionary keys are added
d2['competition'] = 'R language'
print(d2)

#Update

d2.update({'Age':26})
print(d2)

{'Name': ['python', 'c++', 'R language', 'R language'], 'Last Name': 'Programming', 'Age': 26, 'Module': True, 'competition': 'R language'}
{'Name': ['python', 'c++', 'R language', 'R language'], 'Last Name': 'Programming', 'Age': 26, 'Module': True, 'competition': 'R language'}

In [ ]:
#Removing items in the dictionary
#1.POP

#But in dictionaries:-
print(d2.keys())
d2.pop('Age')
print(d2)

NameError: ignored

In [ ]:
#revision:- in List when you use pop method by default it ill remove last item)
a = ['python', 'c++', 'R language', 'R language']
print(a)  #allow duplicates
a.pop()
print(a)

['python', 'c++', 'R language', 'R language']
['python', 'c++', 'R language']

In [ ]:
#Q)By default you want to remove last items in a dictionary then?
d2.popitem()
print(d2)

{'Name': ['python', 'c++', 'R language', 'R language'], 'Last Name': 'Programming'}

In [ ]:
#3. delete method
d3 = {"fruit_name":"Apple",
      "price_kg":"50rs",
      "Name":"Srinivas",
      "Domain":'Devops'}

del d3['Domain']

print(d3)

{'fruit_name': 'Apple', 'price_kg': '50rs', 'Name': 'Srinivas'}

In [ ]:
#4clear method
d3.clear()
print(d3)

d2.clear()
print(d2)

{}
{}

In [ ]:
#5 delete method
del d2
print(d2)

#Working with loops in dictionaries

In [ ]:
d1 = {'Name':['python','Java'],
      'last_Name':'Programming',
      'Age' : 31,
      'Module':True,
      'No of modules':31,
      'competition':'Rlanguage'}

#printing all the keys by using the loops
for x in d1.keys():
  print(x)

#print all the values.

for y in d1.values():
  print(y)


#how can i get both values by using the loops?

for i in d1.keys():
  print(f'{i} = {d1[i]}')

for X,Y in d1.items():
  print(f'{X}={Y}')

Name
last_Name
Age
Module
No of modules
competition
['python', 'Java']
Programming
31
True
31
Rlanguage
Name = ['python', 'Java']
last_Name = Programming
Age = 31
Module = True
No of modules = 31
competition = Rlanguage
Name=['python', 'Java']
last_Name=Programming
Age=31
Module=True
No of modules=31
competition=Rlanguage

In [ ]:
#LIST=[]=ORDERED, Chnagable, allow duplicates
#Tupple=()=ordered, unchangle,allow duplicates
#set={}=unorderded,unchangble,not allow duplicates
##dectionaries={}=ordered, changable, donot allow duplicates

In [ ]:
d1 = {'Name':['python','Java'],
      'last_Name':'Programming',
      'Age' : 31,
      'Module':True,
      'No of modules':31,
      'competition':'Rlanguage'}

del d1['Name'][1]

print(d1)

{'Name': ['python'], 'last_Name': 'Programming', 'Age': 31, 'Module': True, 'No of modules': 31, 'competition': 'Rlanguage'}

#Functions

In [ ]:
#what is function....?
#Block of code which only runs when it is called.
print('hello')
print(type('hello'))
print(len('hello'))

hello
<class 'str'>
5

In [ ]:
#1.creating a fnction
def f1():
  print('Hello world!')
  print('This is running with functions')
  print("==================")

#Calling the function
f1()
f1()
f1()
f1()

Hello world!
This is running with functions
==================
Hello world!
This is running with functions
==================
Hello world!
This is running with functions
==================
Hello world!
This is running with functions
==================

In [ ]:

#parameter:-when you create a function with defining a varible is known as parameter
#Argument:-The value your given to a varaible is known as argument



def f1(name):
  print(f'Hello {name}')
#call the function
f1('world')
f1('universe')
f1('python')

Hello world
Hello universe
Hello python

In [ ]:
#How many variable/parameters shall we give in function?
#How many value/arguments shall we give in function?

#if you want to print default users instead of rising an error
def f1(name = 'user'):
  print(f'Hello {name}')
#call the function
f1('world')
f1('universe')
f1('python')
f1()
f1('India')

Hello world
Hello universe
Hello python
Hello user
Hello India

In [ ]:
#Usage of function in collections
def f2(n1,n2,n3,n4):
  print(f'hello, {n1}!')
  print(f'hello, {n2}!')
  print(f'hello, {n3}!')
  print(f'hello, {n4}!')

#call
f2('pyhton','java','c++','R')

hello, pyhton!
hello, java!
hello, c++!
hello, R!

In [ ]:
def f3(*name):
  print(f'hello, {name}!')

f3('pyhton','java','c++')

hello, ('pyhton', 'java', 'c++')!

In [ ]:
#What do i do when i don't know how many arguments do i need to give?
def f3(*name):

#Using for loop to print in separate lines
  for x in name:
    print(f'hello, {x}!')
    print("=============")


#call the function
f3('pyhton','java','c++')

f3('mopedo','Future tech')

hello, pyhton!
=============
hello, java!
=============
hello, c++!
=============
hello, mopedo!
=============
hello, Future tech!
=============

In [ ]:
#What do i do when i don't know how many parameters do i need to give?
def f3(**name):
#Using for loop to print in separate lines
    for x,y in name.items():
      print(f'{x} ={y}')

#call the function
f3(Name='pyhton',Last_name = ' languagae',Age = 34)

Name =pyhton
Last_name = languagae
Age =34

In [ ]:
def f4(name,age,lastname):
  print(name,lastname,age, sep='\n')

f4(name = 'shahul',age=26,lastname='shaik')

shahul
shaik
26

In [ ]:
#*-->Arbitrary arguments--->when u dont know how many arguments
#**--->Arbitrary keyword arguments--->when u don't know how many keyword arguments you have sent

In [ ]:
def dict1():
  d1 = {'Name':['python','Java'],
      'last_Name':'Programming',
      'Age' : 31,
      'Module':True,
      'No of modules':31,
      'competition':'Rlanguage'}
#printing all the keys by using the loops

In [ ]:
#Return keyword:-
print(len("hello"))

5

In [ ]:
def f2(x):
  print(x)
#calling the function
f2(10)

10

In [ ]:
def f2(x):
  return x
#calling the function
f2(10)

10

In [ ]:
#what is the purpose of return value?
"""When you return the value you ll decide what you ganna do with value"""
print(len("hello"))

#instead of wrting like this

x = len("hello")
print(x)

x = len(input())
print(x ** 2)

5
5
hello
25

In [ ]:
def f6(y):
  return(y)
f6(10)

10

In [ ]:
sum = 10
def f7(x):
  return x + sum

f7(100)

110

In [ ]:
sum = 100

def f8(x):
  a = x + sum

  return a

print(f8(50))

150

In [ ]:
#print sum of range of integers
N = 7
sum = 0
for i in range(1, N+1):
  print(i)
  sum += i

print(sum)

1
2
3
4
5
6
7
28

In [ ]:
N = 7
Sum = sum(range(1, N + 1))
print(sum)

#List comprehension

In [ ]:
#List comprehension:- A Lc offers you smaller line of code that you can use to create new list from existing list

fruits = ['apples', 'banana','pineapple','Mango', 'Kiwi']

new_fruits = []

for x in fruits:
  if 'a' in x:
    new_fruits.append(x)
  print(new_fruits)

In [ ]:
fruits1 = ['apples', 'banana','pineapple','Mango', 'Kiwi']
#i am using list comprehension
new = [x for x in fruits1 if "a" in x]
print(new)

['apples', 'banana', 'pineapple', 'Mango']

In [ ]:
fruits1 = ['apples', 'banana','pineapple','Mango', 'Kiwi']
new2 = [x for x in fruits1 if x != "banana"]
print(new2)

['apples', 'pineapple', 'Mango', 'Kiwi']

In [ ]:
#using range function in LC
fruits2 = ['apples', 'banana','pineapple','Mango', 'Kiwi']
new3 =  [x for x in range(10)]
new4 = [x for x in range(10) if x < 6]
print(new3)
print(new4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]

In [ ]:
#using the string methods in LC

fruit = ['aPples', 'banana','pineapple','Mango', 'Kiwi']
n = [x.upper() for x in fruit]
print(n)

['APPLES', 'BANANA', 'PINEAPPLE', 'MANGO', 'KIWI']

In [ ]:
#replace banana with orange by using LC
fruit = ['aPples', 'banana','pineapple','Mango', 'Kiwi']
n1 = [x if x != "banana" else "orange" for x in fruit]
print(n1)

['aPples', 'orange', 'pineapple', 'Mango', 'Kiwi']

#Array

In [ ]:
from array import *

In [ ]:
arr = array('i',[1, 2, 3, 4, 5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [ ]:
arr = array('i', [2, 4, 6, 8])