<a href="https://colab.research.google.com/github/KATIPALLIYAHOSHUVA/Python-Notes-Basic-to-Advance-/blob/main/pyhton_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. What is Python?
'''A. High-level Programming Language
B. General purpose
c. Object oriented programmin language
Python is case sensitive
d. dynamically typed'''

#---> single line of code
""" i am using for
multiline of code"""

In [ ]:
#---> 'ctrl + /(forward slash)'  gives you make comment at desired range of code lines
# print('Hello, world!')
# a = 10
# b = 20
# c = 30

Hello, world!

In [ ]:
#1st programming in python
print('Hello, world!')

Hello, world!

#Numbers

In [ ]:
#There are 3 types of numerical data types
"""1. integer--->whole number, +ve or -ve, without decimals
  2. Float--->with decimals
  3.complex----> """

In [ ]:
#1. integer--->whole number, +ve or -ve, without decimals
print(10 + 2)   #---->
print(10 - 5)
#how to know what data type it is?

print(type(10 + 2))

12
5
<class 'int'>

In [ ]:
#2. Float--->with decimals POINT either -ve or +ve
print(10.9)
print(20.5)
print(type(10.9))
print(type(20.5))

10.9
20.5
<class 'float'>
<class 'float'>

In [ ]:
#complex number:-A number which has the imaginary part
#for ex:- 10 + 5j   #j----->iota--->value of j it is square root -1
print(10.9j)
print(type(10.9j))

10.9j
<class 'complex'>

In [ ]:
#Arthematic operators
#There are 7 AO
#1. Addition---->+
#2.subtraction--->-
#3.multiplication---->*
#4.divison---->/
print(10 + 5)
print(10 - 5)
print(10 / 5)
print(10 * 5)

15
5
2.0
50

In [ ]:
#5 Modulus:-remainder of a division operation--->%
print(10 % 5)
print(10 % 6)
print(10 % 8)

#find weather a given number is even or odd?
print(15 % 2)

0
4
2
1

In [ ]:
#6 exponential:-to the power of ---> **

print(2 ** 2)
print(2 ** 5)

4
32

In [ ]:
#7 floor division:--->//--->nothing but divison but ignores all the values after the decimal point
print(10 / 3)
print(10 // 3)

print(10 / 5.2)
print(10 // 5.2)

3.3333333333333335
3
1.923076923076923
1.0

In [ ]:
print((50/100) * 100)

50.0

In [ ]:
#round()
#1.923076923076923
print(round(1.923076923076923))
print(round(2.5474))
print(round(5.25))
print(round(3.45))

2
3
5
3

In [ ]:
#getting the specified decimals by using round function
print(round(1.923076923076923,2))
print(round(2.5474,1))

1.92
2.5

#Variables

In [ ]:
#Variables:-container where we store data and reuse it
#how to create a varible
#how to access that varible

"""father age is 40
    children age is 1/2"""

"""Let father age is x
 children age is 1/2"""

# x = 40
# son_age = x / 2
# print(son_age)
# print('x')

#task:- take two variables and do all the 7 AO?
a = 10
b = 5
print(a+b)
print(a-b)

20.0
x

#Errors

In [ ]:
#two types of errors
#1.syntex error--->if we break rules of programming language then it ll rise syntex error
#2.logical error---->none other than syntax error

In [ ]:
#Rules we need to follow for writing a variable
#1.Must start with letters
x = 100
print(x)

#2.it should not start with numbers

# 3 = "shahul"
# print(3)

#3.if follow the rule 1 and 2 you can useletters, numbers, underscore
_2jshgdjsh = 10
print(_2jshgdjsh)

name = "shahul"
age = 27
print(name)
print(age)

#4.variable names are case sensitive

100
10
shahul
27

In [ ]:
#4.variable names are case sensitive

a = 10
print(a)
print(A)

In [ ]:
#d. dynamically typed:-you are not defining the data in programming
#what is dynamically typed and what is statistically typed?

In [ ]:
#dynamically typed
A = 10
print(A)

10

In [ ]:
a = 4 + 5j
print(a)
print(type(a))

4.46
<class 'float'>

In [ ]:
#write multiple values to multiple varibles?
a, b, c = 10, 20 ,30
# print(a)
# print(b)
# print(c)
print(a, b, c, sep="\n")   #sep="\n"--->to print the output in separate lines

10
20
30

In [ ]:
#write/assign one values to multiple varibles?
a = 10
b = 10
c = 10
print(a,b,c, sep="\n")

a = b = c = 10
print(a,b,c, sep="\n")

In [ ]:
# what is input()?

# how to take an input()?
# What is the default data type for input()?

x = input()
print(x)
print(type(x))

5
5
<class 'str'>

In [ ]:
x = int(input())
y = input()
z = float(input())


print(x)
print(type(x))

print(y)
print(type(y))

print(z)
print(type(z))

print(a)
print(type(a))

10
hello
2.5
10
<class 'int'>
hello
<class 'str'>
2.5
<class 'float'>
10
<class 'int'>

#Strings

In [ ]:
#What is string?
#is an collection of multiple characters being takenup.
#how can we declare a string?
#("")('')
print("Hello world!")

Hello world!

In [ ]:
#if i want to print a mail how can we do it
print("""Respected whoever,
I hope this letter finds you in good health and happiness,
     Thank anf regards,
      python programming""")

In [ ]:
txt = "hello world!"
print(txt)
print(len(txt))

hello world!
12

In [ ]:
#printing only "o"
#indexing:-means using index number to access the each character in a string
#[start]
txt = "hello world!"
print(len(txt))
print(txt[4])

12
o

In [ ]:
#print lo wo in a string..? printing range of characters?
#syntex:- [start:end]

txt = "hello world!"
print(len(txt))
print(txt[3:8]) #printing range of characters in a string---> end value has to be (n + 1)

12
lo wo

In [ ]:
#task: lets take a string("hello every one good afternoon!") and print range of characters that dispalys?
#input:("hello every one good afternoon!")
#outputt: e good af

In [ ]:
#3rd type of slicing
#syntex:-[start:end:step]
txt_2 = "hello every one good afternoon!"
print(len(txt_2))
print(txt_2[0:30:2])

31
hloeeyoego feno

In [ ]:
txt_2 = "hello every one good afternoon!"
print(txt_2[::-1])

!noonretfa doog eno yreve olleh

In [ ]:
txt = "hello world!"
print(len(txt))
print(txt[::])

12
hello world!

In [ ]:
#What is negative indexing?
txt = "hello world!"
print(len(txt))
print(txt[:])

12
hello world!

In [ ]:
txt = "hello world!"
print(len(txt))
print(txt[-4:-10:-1])

12
row ol

In [ ]:
txt = "hello world!"
print(len(txt))
print(txt[:])

In [ ]:
txt = "hello world!"
print(len(txt))
print(txt[3:-2]) # end value is n+1

12
lo worl

In [ ]:
#checking the palindrome string
a = "mopedo"
print(a[::-1])

b = "malayalam"
print(b[::-1])

c = "madam"
print(c[::-1])

odepom
malayalam
madam

In [ ]:
#to check what are all the different menthods available for a objcet or code?
#what is a directory function?
#Ans)This dir() tell you what are all the different methods we run
x = "Hello World!"
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
#capitalize
print(x.capitalize())
#lower
print(x.lower())
#upper
print(x.upper())
#lstrip
y = "     Hello world!    "
print(y)
print(y.lstrip())
#rstrip
#split
#strip
#title
#replace
#swapcase

Hello world!
hello world!
HELLO WORLD!
     Hello World!
Hello World!

In [ ]:
y = "Hello world"
print(y)
print(y.lstrip())

Hello world
<built-in method lstrip of str object at 0x79f3d76816b0>

In [ ]:
#Format()--->{}
a = 'hello'
b = 'world'
c = a +' '+b  #--->+-->concatination
print(c)

hello world

In [ ]:
#how can i print my age is 10?
age = 10
txt = 'my age is'
print(txt,age)

my age is 10

In [ ]:
#what is a format method?
#The format method takes an argument format(argument) and that argument is placed in a string where their is a palceholder
#3 methods of formating
#1st method of formating()
age = 10
text = 'i am {} years of old'
print(text.format(age))

i am 10 years of old

In [ ]:
#2nd method of formating()-->write format() at the end of string
age = 10
text = 'i am {} years of old'.format(age)
print(text)

i am 10 years of old

In [ ]:
#3rd method of formating()-->keep f before string
age = input()
text = f'i am {age} years of old'
print(text)

27
i am 27 years of old

In [ ]:
item = "product A"
price = 99.99
quantity = 10
order_conf = "your order for {} number of {} price at {} is confirmed".format(quantity,item,price)
#print(order_conf.format(quantity,item,price))
print(order_conf)

your order for 10 number of product A price at 99.99 is confirmed

#Escape Characters

In [ ]:
#Escape Character:-when ever you have to print some illegal characters you have to use EC
#Dwayne "THE ROCK" Jhonson
print('hello world')

print("Dwayne \"THE ROCK\" Jhonson")
# print("He said, \"i am not going to use it\",she was furious")

hello world
Dwayne "THE ROCK" Jhonson

#Conditional Statments

In [ ]:
#What is comparison operators?
#equal ------->==
#does not eqaul---> !=
#less than----->  <
#less than or equal-------> <=
#greater than------> >
#greater than or equal-----> >=

print( 10 == 10)
print( 10 != 10)

True
False

In [ ]:
print("Hello" == "Hello")

True

In [ ]:
marks = 45
passing = 40
if marks >= passing:
  print("congratulations")
  print("you have passed")
  print(f'you have passed with {marks} marks')

congratulations
you have passed
you have passed with 45 marks

In [ ]:
marks = 5
passing = 40
if marks >= passing:
  print("congratulations")
  print("you have passed")
  print(f'you have passed with {marks} marks')
else:
  print("sorry! try again next year")
  print(f'you have filed with {marks} marks')

sorry! try again next year
you have filed with 5 marks

In [ ]:
#elif: it states if all the conditions before this not work out try another condition
#in b/w if---elif----else

#Q)print a number weather it is  +ve, -ve, zero?
number = 0
if number > 0:
  print("+ve")
elif number == 0:
   print("zero")
else:
  print("-ve")

zero

In [ ]:
#logical operators---> and, or, not
print(10 == 10)
print(not(10 == 10))

True
False

In [ ]:
#and:- both conditions are true
#or :- any one condition is satisfied
a = 10
b = 56
c = 455

if b>a and c>b and c<a:
  print("both conditions are satisfied")
else:
  print("conditions are not satisfied")

conditions are not satisfied

In [ ]:
a = 10
b = 56
c = 455

if b>a and c>b or c<a:
  print("both conditions are satisfied")
else:
  print("conditions are not satisfied")

both conditions are satisfied

In [ ]:
a = 10
b = 56
c = 455

if b == a and c > a and a > 500 and b > 200:
  print("both conditions are satisfied")
else:
  print("conditions are not satisfied")

conditions are not satisfied

In [ ]:
#Nested Conditions:-
a = 35
 #i will check a is greater than 10 or not
if a > 10:
  print("greater than 10")
  #writing another condition
  if a > 20:
    print("greater than 20")
    if a>30:
      print("a is greater than 30")
    else:
        print("not greater than 30")
  else:
    print("Not greater than 20")
else:
  print("not greater than 10")

greater than 10
greater than 20
a is greater than 30

In [ ]:
#Sample question on elif marks problem
#Nestad
marks = int(input())
passing = 40
#here i am giving grade like
#40-60-->D
#60-70--->C
#70-80--->B
#80-100-->A
if marks >= passing:
  if marks >= 40 and marks <= 60:
    print('You have scored D grade')
  elif marks >= 61 and marks <= 70:
    print('You have scored C grade')
  elif marks >= 71 and marks <= 80:
    print('You have sored B grade')
  elif marks >= 81 and marks <= 100:
     print('You have sored A grade')
  elif marks >= 101:  #----> we can use both the conditions
    print('you have enetered wrong marks')

  #some body tries to writes illlegitimate marks
  else:
    print('ILLEGITIMATE Score')
else:
  print('You have failed')

50
You have scored D grade

In [ ]:
#Pass:- is nothing but a null operator when it is executed nothing happens

marks = 55
passing = 40
if marks >= passing:
  pass

#LOOPS

In [ ]:
#why we use loops?
#we use loops to avoid the duplicate code

#how many types of code we are having?
#1. WET CODE               2. DRY CODE
#w-->write                 #D--->don't
#e---> everything          #R
#t---->twice               #Y

In [ ]:
#WHILE LOOP:-WORK/ runs a set of instructions as long as condition remains true
#FOR LOOP;-

target = 20
initial = 0
while initial < 20:
  print("go down")
  print("come up")
  print("=======Rep completed======")

In [ ]:
target = 5
your_pushups = 0
while your_pushups < 5:
  print("go down")
  print("come up")
  print("=======Rep completed======")
  your_pushups = your_pushups + 1

go down
come up
=======Rep completed======
go down
come up
=======Rep completed======
go down
come up
=======Rep completed======
go down
come up
=======Rep completed======
go down
come up
=======Rep completed======

In [ ]:
#write  program for lif by using the loop's concept?

In [ ]:
i = 1
while i <= 10:
  print(i)
  i += 1    # i += 1  # i -= 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 0
while i <= 10:
  print(i)
  i -= 1

In [ ]:
x = input("enter the string: ")
x_rev = x[::-1]
print(f'rev of input string is {x_rev}')
if x.lower() == x_rev.lower():
  print(f'{x} is palindrome')
else:
    print(f'{x} is not palindrome')

enter the string: maDAm
rev of input string is mADam
maDAm is not palindrome

In [ ]:
x = input()
print(x.lower() == x[::-1].lower())

In [ ]:
number = [10, 20, 30, 40, 50]
print(number*2)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
#for loop:-runs set of instruction for all the items in a collection.
number = [10, 20, 30, 40, 50]
for every_value in number:
  print(every_value*2)

20
40
60
80
100

In [ ]:
number = [10, 20, 30, 40, 50]
for every_value in number:
  print("This is a loop")
  print(every_value)
  print("=================")

This is a loop
10
=================
This is a loop
20
=================
This is a loop
30
=================
This is a loop
40
=================
This is a loop
50
=================

In [ ]:
x = "hello world"
for letters in x:
  print(letters)

h
e
l
l
o

w
o
r
l
d

In [ ]:
#is loops can run through every collection-->True

In [ ]:
#print "hello world" 11 times?
n = "hello world"
for i in n:
  print(n)

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#Break :-
number = [10,20,30,40,50]
for x in number:
  print(x)
  break

10

In [ ]:
number = [10,20,30,40,50]
for x in number:
  print(x)
  if x == 30:
    break

10
20
30

In [ ]:
#use print after break
number = [10,20,30,40,50]
for x in number:

  if x == 30:
    break
  print(x)

10
20

In [ ]:
#continue:-

number = [10,20,30,40,50]
for x in number:
  if x == 30:
    continue
  print(x)

10
20
40
50

In [ ]:
#multiple continues
a = [10,20,30,30, 40,40,50,60,70,80,90]
for x in a:
  if x in (30,50,70, 80):
    continue
  print(x)

10
20
40
40
60
90

In [ ]:
#1.Range(end)
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
#print "hello world 10 times"
for x in range(10):
  print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
#range[start:end]
for x in range(2, 10):
  print(x)

2
3
4
5
6
7
8
9

In [ ]:
#range[start:end:step]
for x in range(2, 10, 2):
  print(x)

2
4
6
8

In [ ]:
x = "hello world"
for i in range(len(x)):
  print(x[i])

h
e
l
l
o

w
o
r
l
d

In [ ]:

d = {0:'a',1:'b',2:'c'}
for i in d:
  print(i)

0
1
2